# Data wrangling with ``pandas``

><img src="images/pandas.png" width="200" style="margin: 20px auto;">

**pandas** is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

### The concept of a tidy data

><img src="images/tidy_data2.png" width="70%" style="margin: 20px auto;">

###  Numpy is a already great for computing then why do we need pandas

Here are some functionalities of Pandas useful specially in data munging, preparation and the initial EDA.

- A numpy array requires homogeneous data.  With a pandas dataframe, you can have different data types (float, int, string, datetime, etc) all in one container or dataset
- Aggregating or transforming data with a ``groupby`` engine allowing split-apply-combine operations on data sets 
- Tools for reading and writing data between in-memory data structures in various formats: CSV, text, excel files, etc - fast and efficient DataFrame object for data manipulation with integrated indexing
- Intelligent label-based slicing, fancy indexing, and subsetting of large data sets, data alignment and integrated handling of missing data: 
- Flexible reshaping and pivoting of data sets;
- Columns can be inserted and deleted from data structures for size mutability;

`` * Pandas is not really optimised yet for implementing statistical and machine learning models so with this we still go back to ``numpy`` and ``scikit-learn`` * ``

### The main ``pandas`` data structure

- `Series` - a one-dimensional array-like object containing data and labels(or index); it can hold multi-data type
- `DataFrame` - a two-dimensional labeled data structure with columns capable of holding different data types
- `Panel` - Three dimensional labeled array; Items -> axis 0; Major axis -> rows; minor axis -> columns 
- `Panel 4D` - as...implies, a four-dim array: Labels -> 0; Items -> axis 0; Major axis -> rows; minor axis -> columns

`` * but today will be discussing only the first two *``

In [1]:
# Create a dict of equal length [lists]
olympic_cities = {'HostCity':['London','Beijing','Athens','Sydney','Atlanta'],
                     'Year':[2012,2008,2004,2000,1996],
                     'No. of Participating Countries':[205,204,201,200,197]}

In [57]:
olympic_cities.keys()
# olympic_cities.values()

dict_keys(['HostCity', 'Year', 'No. of Participating Countries'])

In [3]:
print(olympic_cities['HostCity'])

['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta']

#### Convert a **Python**  ``dictionary`` into a **pandas** ``DataFrame``

In [4]:
# import the pandas and numpy libraries
import pandas as pd
import numpy as np

In [60]:
df_olympic_cities = pd.DataFrame(olympic_cities)
# df_olympic_cities = pd.DataFrame(olympic_cities).sort_values('Year')
df_olympic_cities = pd.DataFrame(olympic_cities).sort_values('Year').set_index('Year')

In [61]:
print(type(df_olympic_cities))
df_olympic_cities
# df_olympic_cities.dtypes

<class 'pandas.core.frame.DataFrame'>

     HostCity  No. of Participating Countries
Year
1996  Atlanta                             197
2000   Sydney                             200
2004   Athens                             201
2008  Beijing                             204
2012   London                             205

In [62]:
df2_olympic_cities = df_olympic_cities.reset_index()

In [64]:
print(df2_olympic_cities.HostCity)
print(type(df2_olympic_cities))
# df2_olympic_cities.dtypes

0    Atlanta
1     Sydney
2     Athens
3    Beijing
4     London
Name: HostCity, dtype: object
<class 'pandas.core.frame.DataFrame'>

In [9]:
# the column of a pandas data frame is a series
# but a double bracket enclosing a column list will make a dataframe
# df3 = df2_olympic_cities['No. of Participating Countries']
df3 = df2_olympic_cities[['No. of Participating Countries']]

In [10]:
print(df3)
type(df3)

   No. of Participating Countries
0                             205
1                             204
2                             201
3                             200
4                             197

pandas.core.frame.DataFrame

In [65]:
df2_olympic_cities.HostCity.count()
df2_olympic_cities.HostCity.unique()

array(['Atlanta', 'Sydney', 'Athens', 'Beijing', 'London'], dtype=object)

### Create DataFrame from ndarray

In [12]:
arr_1 = np.random.randint(0, 12, size=(4, 3))
arr_1

array([[ 0,  0,  5],
       [ 4,  0, 10],
       [10,  3,  1],
       [ 5, 10,  5]])

In [13]:
# create a DataFrame from ndarray and label the columns
df1 = pd.DataFrame(arr_1, columns = ['col_1', 'col_2','col_3'])
type(df1)
df1

   col_1  col_2  col_3
0      0      0      5
1      4      0     10
2     10      3      1
3      5     10      5

### Indexing and selecting data in pandas ``DataFrame`` 

-``loc`` gets rows (or columns) with particular labels from the index <br>
-``iloc`` gets rows (or columns) at particular positions in the index (so it only takes integers) <br>
-``ix`` usually tries to behave like loc but falls back to behaving like iloc if a label is not present in the index.(Warning: is deprecated in Python 3.7)

In [68]:
# df1.loc[:, 'col_3'] # access rows and columns by labels
df1.iloc[:, -1] #selection by position or index

0     5
1    10
2     1
3     5
Name: col_3, dtype: int64

## Reading externally sourced Data into ``pandas``

Pandas has support for reading from many data sources, including

- `pd.read_csv()`
- `pd.read_excel()`
- `pd.read_html()`
- `pd.read_json()`
- `pd.read_hdf()`
- `pd.read_sql()`

### Load the ``iris.csv`` dataset using the ``read`` method

Description:
- An ``iris.csv`` dataset is included in the pandas library. The data consists of measurements of four features of three different iris flower species.

- From Wikipedia: Iris is a plant with sword-shaped leaves and showy flowers, typically purple, yellow, or white. Native to both Eurasia and North America, it is widely cultivated as an ornamental.

- The **Iris** flower data set or Fisher's Iris data set is a multivariate data set introduced by the British statistician and biologist Ronald Fisher in his 1936 paper The use of multiple measurements in taxonomic problems as an example of linear discriminant analysis.[1] It is sometimes called Anderson's Iris data set because Edgar Anderson collected the data to quantify the morphologic variation of Iris flowers of three related species. Two of the three species were collected in the Gaspé Peninsula "all from the same pasture, and picked on the same day and measured at the same time by the same person with the same apparatus".


- The data set consists of 50 samples from each of three species of Iris (Iris setosa, Iris virginica and Iris versicolor). Four features were measured from each sample: the length and the width of the sepals and petals, in centimeters. Based on the combination of these four features, Fisher developed a linear discriminant model to distinguish the species from each other.

<img src="images/iris_species.png" width="60%" style="margin: 20px auto;">

In [36]:
import pandas as pd
import numpy as np

In [37]:
#import the iris dataset using the read_csv method in pandas; 
#make sure the dataset is in your current working directory 
df_iris = pd.read_csv('./datasets/iris.csv')

In [38]:
df_iris.head() # showing a categorical (nominal) var of Name

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [39]:
# df_iris.info()
df_iris.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [40]:
# find the unique categorical names
pd.unique(df_iris['Name'])

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [41]:
df_iris.groupby(['Name']).size()

Name
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [42]:
grouped_iris = df_iris.groupby(by = 'Name', axis=0, as_index=True, observed = True).count()
grouped_iris

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa               50          50           50          50
Iris-versicolor           50          50           50          50
Iris-virginica            50          50           50          50

In [43]:
# print(type(df_iris))
# print(df_iris.dtypes)

In [44]:
# convert the categorical 'Name' string into integers o or 1 
dummy_iris = pd.get_dummies(df_iris, prefix=None, columns = ['Name'])

In [45]:
dummy_iris.head()
# dummy_iris.tail()

,SepalLength,SepalWidth,PetalLength,PetalWidth,Name_Iris-setosa,Name_Iris-versicolor,Name_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [46]:
#alternate way to convert 'Name' to integers 
def recode_name(name_value):

    if name_value == 'Iris-setosa':
        return '0'
    
    elif name_value == 'Iris-versicolor':
        return '1'
    
    elif name_value == 'Iris-virginica':
        return '2'

In [47]:
df_iris['Species'] = df_iris.Name.apply(recode_name)

In [49]:
df2_iris = df_iris

In [50]:
df2_iris.tail()

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name Species
145          6.7         3.0          5.2         2.3  Iris-virginica       2
146          6.3         2.5          5.0         1.9  Iris-virginica       2
147          6.5         3.0          5.2         2.0  Iris-virginica       2
148          6.2         3.4          5.4         2.3  Iris-virginica       2
149          5.9         3.0          5.1         1.8  Iris-virginica       2

In [52]:
# alternate way
df2_iris['Species'] = df2_iris.Name.map({'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-verginica':2})

In [53]:
# df2_iris.head(10)

In [54]:
# remove the Name column to make dataframe fully numerical 
df_iris.drop(['Name'], axis=1, inplace=True)

In [55]:
df2_iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.1         3.5          1.4         0.2      0.0
1          4.9         3.0          1.4         0.2      0.0
2          4.7         3.2          1.3         0.2      0.0
3          4.6         3.1          1.5         0.2      0.0
4          5.0         3.6          1.4         0.2      0.0

### to write 
- `pd.to_csv()`
- `pd.to_excel()`

    - ``(and so on)``

In [56]:
# write above modified iris data to MS Excel; this file should be in your current working directory
df2_iris.to_excel('new_iris.xlsx', index=True, index_label = 'Items', startrow=1, header=True)

### next ...``matplotlib``